.product-card .ant-typography {
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

.product-card__header {
    height: 6.5rem;
}

.product-card__title {
    width: 100%;
    text-align: center;
    text-wrap: balance;
    font-size: 1rem;
}

.product-card__body {
    padding-block: 1rem;
}

.product-card__brand {
    word-wrap: 'break-word';
}

.product-card__price {
    color: rgb(160, 40, 56);
    text-wrap: nowrap;
    text-align: end;
    font-size: 1.1rem;
}

.product-card__id {
    text-align: center;
    margin: 0;
    height: 3rem;
}

@media (max-width: 576px) {

    .product-card__id,
    .product-card__header {
        height: fit-content;
    }
}