@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans.woff2') format('woff2');
  font-weight: 300 400 500 600 700 800;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: local('TTFirsNeue'), url('/fonts/TTFirsNeue.woff2') format('woff2');
  font-weight: 100 200 300 400 500 600 700 800 900;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  min-width: 320px;
  min-height: 100dvh;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.title-text{
  font-family: 'TTFirsNeue';
}

@media (max-width: 576px) {
  .title-text.ant-typography {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}