:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: #f5f5f5;
  min-width: 320px;
  min-height: 100dvh;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.filter-brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.filter-brands label {
  font-size: 1rem;
  margin-block: 2px;
}