.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loader__logo {
    background-image: url('/val.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    animation: loading 0.6s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(-10deg);
    }
}